.user-avatar {
	border-radius: 50%;
	color: #fff;
	line-height: 36px;
	width:36px;
	height:36px;
	text-align: center;
	background-color: #474789;
}

.user-avatar-image {
	border-radius: 50%;
	color: #fff;
	line-height: 36px;
	width:36px;
	height:36px;
	text-align: center;
	background-size: auto 36px;
	background-repeat: no-repeat;
  	background-position: center;
}

.logo-footer-ga {
	position: relative;
	top: -2px;
}

.formInputSpinner {
	position: absolute;
	right: 44px;
	top: 15px;
	font-size: 40px;
}

.workflow-buttons {
	position: absolute;
	right: 50px;
	top: 15px;
}

.form .form-section {
	color: #00c0bd;
	line-height: 3rem;
	margin-bottom: 20px;
	border-bottom: 2px solid #6b6f82;
	font-weight: 500;
}

.label-control{
	text-align: right;
}